.contact {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;

    &__text {
        color: #1a70e8;
    }
    &__headline {
        font-weight: normal;
        color: #6f7182;
    }
}
